.container{
    width: 1050px;
    margin: 0 auto;
}

.header-main {
    text-align: center;
}

.menu-item {
    display: inline-block;
    margin: 0px 15px;
    font-size: 18px;
    letter-spacing: 3px;
    color: #16a085;
    font-family: Roboto;
    line-height: 80px;
    text-transform:uppercase;
}

main{
    background-color: aliceblue;
}

.image {
    width: 100%;
}
.article-main {
    text-align: center;
    padding: 20px 0 50px;
}

.article-heading{
    text-align: center;
    font-size: 22px;
    letter-spacing: 3px;
    color: #373737;
    font-family: Roboto;
    margin-top: 0px;
    padding-top: 10px;
    text-transform:uppercase;

}

.article-text {
    text-justify: auto;
}

.btn {
    display: inline-block;
    background: #16a085;
    border: 15px solid #16a085;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    text-transform:uppercase;
    text-decoration: none;
    color: #fff;
}
.footer-main {
    display: inline-block;
    width: 100%;
}

.footer-text {
    text-align: right;
    font-size: 20px;
}
